<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>卓越银行家俱乐部</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<script th:src="@{/vue/vue.global.js}"></script>
	<script th:src="@{/element-plus/lib/index.full.js}"></script>
	<script type="text/javascript" th:src="@{/echarts/echarts.min.js}"></script>
	<link rel="stylesheet" th:href="@{/element-plus/lib/theme-chalk/index.css}">
	<link th:href="@{/css/zyyhjjlb.css}" rel="stylesheet" type="text/css">
</head>

<body id="index" class="bg">
<!--在线交流-->
<div class="zxjl"><a href="#"><img  th:src="@{/images/zxjl.png}" alt=""/></a></div>
<!--在线交流-->
<!--header-->
<div class="header">
	<div class="header-logo"><img  th:src="@{/images/login_logo.png}" alt=""/></div>
	<div class="header-title">卓越银行家俱乐部</div>
	<ul class="header-nav">
		<li>用户名</li>
		<li><el-avatar :size="40" :src="circleUrl"></el-avatar></li>
		<li>
			<el-dropdown trigger="click">
				<span class="el-dropdown-link"><i class="el-icon-s-fold el-icon--right"></i></span>
				<template #dropdown>
					<el-dropdown-menu>
						<el-dropdown-item icon="el-icon-document-copy"><a  th:href="@{xy_yhxx}">用户信息</a></el-dropdown-item>
						<el-dropdown-item icon="el-icon-document-copy"><a href="teacher/js_index.html">教师端首页</a></el-dropdown-item>
						<el-dropdown-item icon="el-icon-switch-button"><a th:href="@{logout}">退出</a></el-dropdown-item>
					</el-dropdown-menu>
				</template>
			</el-dropdown>
		</li>
		<li><el-divider direction="vertical"></el-divider></li>
		<li>
			<el-badge is-dot class="item">
				<el-link th:href="@{xy_yhxx}" :underline="false"><i class="el-icon-bell"></i></el-link>
			</el-badge>
		</li>
		<li><el-divider direction="vertical"></el-divider></li>
		<li>意见反馈</li>
	</ul>
</div>
<!--header-->
<!--nav-->
<div class="nav">
	<el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
		<el-menu-item index="1"><a th:href="@{xy_index}" >首页</a></el-menu-item>
		<el-menu-item index="2"><a th:href="@{xy_cdk}" >存贷款</a></el-menu-item>
		<el-menu-item index="3"><a th:href="@{xy_tzyw}" >投资业务</a></el-menu-item>
		<el-menu-item index="4"><a th:href="@{xy_zjyw}" >中间业务</a></el-menu-item>
		<el-menu-item index="5"><a th:href="@{xy_rshq}" >人事后勤</a></el-menu-item>
		<el-menu-item index="6"><a th:href="@{xy_scyx}" >市场营销</a></el-menu-item>
		<el-menu-item index="7"><a th:href="@{xy_cwgl}" >财务管理</a></el-menu-item>
		<el-menu-item index="8"><a th:href="@{xy_zsk}" >知识库</a></el-menu-item>
		<el-button class="nav-right" type="text" icon="el-icon-s-data" @click="dialogTableVisible=true">查看当前经济形势</el-button>
	</el-menu>
</div>
<!--nav-->
<!--main-->
<div class="main">
	<div class="main-bg">
		<el-tabs v-model="activeName" @tab-click="handleClick">
			<!--全部消息-->
			<el-tab-pane label="全部消息" name="first">
				<!--筛选-->
				<div class="screen">
					<dl>
						<dd>
							<el-select v-model="value" placeholder="本期学员" size="small">
								<el-option
										   v-for="item in options"
										   :key="item.value"
										   :label="item.label"
										   :value="item.value">
								</el-option>
							</el-select>
						</dd>
					</dl>
					<dl>
						<dt>状态</dt>
						<dd>
							<el-select v-model="value" placeholder="全部" size="small">
								<el-option
										   v-for="item in options"
										   :key="item.value"
										   :label="item.label"
										   :value="item.value">
								</el-option>
							</el-select>
						</dd>
					</dl>
					<dl>
						<dt>发布人</dt>
						<dd>
							<el-select v-model="value" placeholder="全部" size="small">
								<el-option
										   v-for="item in options"
										   :key="item.value"
										   :label="item.label"
										   :value="item.value">
								</el-option>
							</el-select>
						</dd>
					</dl>
					<dl>
						<dt>发布时间</dt>
						<dd>
							<el-date-picker
											v-model="value2"
											type="daterange"
											unlink-panels
											range-separator="至"
											start-placeholder="开始日期"
											end-placeholder="结束日期"
											:shortcuts="shortcuts"
											size="small">
							</el-date-picker>
						</dd>
					</dl>
				</div>
				<!--筛选-->
				<div class="table">
					<!--表格-->
					<el-table
							  :data="tableData"
							  style="width: 100%"
							  size="medium"
							  :default-sort = "{prop: 'date', order: 'descending'}">
						<el-table-column
										 type="selection">
						</el-table-column>
						<el-table-column
										 prop="new"
										 label="标题"
										 width="650">
						</el-table-column>
						<el-table-column
										 prop="date"
										 label="发布日期"
										 align="center"
										 sortable
										 width="150">
						</el-table-column>
						<el-table-column
										 prop="name"
										 label="发布人"
										 align="center"
										 sortable
										 width="170">
						</el-table-column>
						<el-table-column
										 prop="newszt"
										 label="状态"
										 align="center"
										 sortable>
						</el-table-column>
					</el-table>
					<!--表格-->
					<!--分页-->
					<el-pagination
								   background
								   @size-change="handleSizeChange"
								   @current-change="handleCurrentChange"
								   :current-page="currentPage1"
								   :page-sizes="[100, 200, 300, 400]"
								   :page-size="100"
								   layout="total, sizes, prev, pager, next, jumper"
								   :total="400">
					</el-pagination>
					<!--分页-->
				</div>
			</el-tab-pane>
			<!--全部消息-->
			<!--消息通知-->
			<el-tab-pane label="系统消息" name="second">
				<!--筛选-->
				<div class="screen">
					<dl>
						<dd>
							<el-select v-model="value" placeholder="本期学员" size="small">
								<el-option
										   v-for="item in options"
										   :key="item.value"
										   :label="item.label"
										   :value="item.value">
								</el-option>
							</el-select>
						</dd>
					</dl>
					<dl>
						<dt>状态</dt>
						<dd>
							<el-select v-model="value" placeholder="全部" size="small">
								<el-option
										   v-for="item in options"
										   :key="item.value"
										   :label="item.label"
										   :value="item.value">
								</el-option>
							</el-select>
						</dd>
					</dl>
					<dl>
						<dt>发布人</dt>
						<dd>
							<el-select v-model="value" placeholder="全部" size="small">
								<el-option
										   v-for="item in options"
										   :key="item.value"
										   :label="item.label"
										   :value="item.value">
								</el-option>
							</el-select>
						</dd>
					</dl>
					<dl>
						<dt>发布时间</dt>
						<dd>
							<el-date-picker
											v-model="value2"
											type="daterange"
											unlink-panels
											range-separator="至"
											start-placeholder="开始日期"
											end-placeholder="结束日期"
											:shortcuts="shortcuts"
											size="small">
							</el-date-picker>
						</dd>
					</dl>
				</div>
				<!--筛选-->
				<div class="table">
					<!--表格-->
					<el-table
							  :data="tableData"
							  style="width: 100%"
							  size="medium"
							  :default-sort = "{prop: 'date', order: 'descending'}">
						<el-table-column
										 type="selection">
						</el-table-column>
						<el-table-column
										 prop="new"
										 label="标题"
										 width="650">
						</el-table-column>
						<el-table-column
										 prop="date"
										 label="发布日期"
										 align="center"
										 sortable
										 width="150">
						</el-table-column>
						<el-table-column
										 prop="name"
										 label="发布人"
										 align="center"
										 sortable
										 width="170">
						</el-table-column>
						<el-table-column
										 prop="newszt"
										 label="状态"
										 align="center"
										 sortable>
						</el-table-column>
					</el-table>
					<!--表格-->
					<!--分页-->
					<el-pagination
								   background
								   @size-change="handleSizeChange"
								   @current-change="handleCurrentChange"
								   :current-page="currentPage1"
								   :page-sizes="[100, 200, 300, 400]"
								   :page-size="100"
								   layout="total, sizes, prev, pager, next, jumper"
								   :total="400">
					</el-pagination>
					<!--分页-->
				</div>
			</el-tab-pane>
			<!--消息通知-->
			<!--竞赛信息-->
			<el-tab-pane label="竞赛消息" name="third">
				<!--筛选-->
				<div class="screen">
					<dl>
						<dd>
							<el-select v-model="value" placeholder="本期学员" size="small">
								<el-option
										   v-for="item in options"
										   :key="item.value"
										   :label="item.label"
										   :value="item.value">
								</el-option>
							</el-select>
						</dd>
					</dl>
					<dl>
						<dt>状态</dt>
						<dd>
							<el-select v-model="value" placeholder="全部" size="small">
								<el-option
										   v-for="item in options"
										   :key="item.value"
										   :label="item.label"
										   :value="item.value">
								</el-option>
							</el-select>
						</dd>
					</dl>
					<dl>
						<dt>发布人</dt>
						<dd>
							<el-select v-model="value" placeholder="全部" size="small">
								<el-option
										   v-for="item in options"
										   :key="item.value"
										   :label="item.label"
										   :value="item.value">
								</el-option>
							</el-select>
						</dd>
					</dl>
					<dl>
						<dt>发布时间</dt>
						<dd>
							<el-date-picker
											v-model="value2"
											type="daterange"
											unlink-panels
											range-separator="至"
											start-placeholder="开始日期"
											end-placeholder="结束日期"
											:shortcuts="shortcuts"
											size="small">
							</el-date-picker>
						</dd>
					</dl>
				</div>
				<!--筛选-->
				<div class="table">
					<!--表格-->
					<el-table
							  :data="tableData"
							  style="width: 100%"
							  size="medium"
							  :default-sort = "{prop: 'date', order: 'descending'}">
						<el-table-column
										 type="selection">
						</el-table-column>
						<el-table-column
										 prop="new"
										 label="标题"
										 width="650">
						</el-table-column>
						<el-table-column
										 prop="date"
										 label="发布日期"
										 align="center"
										 sortable
										 width="150">
						</el-table-column>
						<el-table-column
										 prop="name"
										 label="发布人"
										 align="center"
										 sortable
										 width="170">
						</el-table-column>
						<el-table-column
										 prop="newszt"
										 label="状态"
										 align="center"
										 sortable>
						</el-table-column>
					</el-table>
					<!--表格-->
					<!--分页-->
					<el-pagination
								   background
								   @size-change="handleSizeChange"
								   @current-change="handleCurrentChange"
								   :current-page="currentPage1"
								   :page-sizes="[100, 200, 300, 400]"
								   :page-size="100"
								   layout="total, sizes, prev, pager, next, jumper"
								   :total="400">
					</el-pagination>
					<!--分页-->
				</div>
			</el-tab-pane>
			<!--竞赛信息-->
		</el-tabs>
	</div>
</div>
<!--main-->

<!--footer-->	
<div class="footer">
	<p>copyright 2020 博明信德版权所有 ALL Rights 京ICP备1301234号-1</p>
	<p>邮 箱：bmxd@smart-soft.cn      详情咨询：400-6500-210</p>
</div>
<!--footer-->

</body>

<script>
	var Main = {
		data () {
			return {
				//头像
				circleUrl: "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png",
				squareUrl: "https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png",
				sizeList: ["large", "medium", "small"],
				//表格
				tableData: [{
					team: '中国龙队银行',
					gj: '65.21',
					qs: '+5.2%',
					new: '国内经济增长持续趋缓，且近期弱势特征明显',
					date: '2月27日',
					name: '张林伟',
					zjr: '导师 张林伟',
					cz: '总结',
					jczt: '导师未总结',
					jccz: '总结',
					newszt: '已读'
				}, {
					team: '虎队银行',
					gj: '39.01',
					qs: '-0.9%',
					new: '金融政策及国内金融市场状况',
					date: '2月19日',
					name: '毕琳嘉',
					zjr: '导师 张林伟',
					cz: '编辑',
					jczt: '导师未总结',
					jccz: '总结',
					newszt: '已读'
				}, {
					team: '全球鹰队银行',
					gj: '23.85',
					qs: '+2.3%',
					new: '国内利率下降，货币市场利率反映更为强烈',
					date: '2月8日',
					name: '何宏瑞',
					zjr: '导师 张林伟',
					cz: '编辑',
					jczt: '导师已总结',
					jccz: '总结',
					newszt: '已读'
				}, {
					team: '豹队银行',
					gj: '65.43',
					qs: '+6.5%',
					new: '收益曲线在两年中将首次出现平稳局面',
					date: '2月3日',
					name: '薛荷',
					zjr: '导师 张林伟',
					cz: '编辑',
					jczt: '导师已总结',
					jccz: '编辑总结',
					newszt: '已读'
				}, {
					team: '建设银行分行',
					gj: '53.53',
					qs: '0%',
					new: '全球经济和国际金融市场',
					date: '1月26日',
					name: '黄莎涛',
					zjr: '导师 张林伟',
					cz: '编辑',
					jczt: '导师已总结',
					jccz: '编辑总结',
					newszt: '已读'
				}, {
					team: '建设银行华南分行',
					gj: '74.33',
					qs: '+3.3%',
					new: '国内经济增长持续趋缓，且近期弱势特征明显',
					date: '1月17日',
					name: '赵婵芝',
					zjr: '导师 张林伟',
					cz: '编辑',
					jczt: '导师已总结',
					jccz: '编辑总结',
					newszt: '已读'
				}],
				//tabs
				activeName: 'first',
				//选择器
				options: [{
					value: '选项1',
					label: '选项1'
				}, {
					value: '选项2',
					label: '选项2'
				}, {
					value: '选项3',
					label: '选项3'
				}, {
					value: '选项4',
					label: '选项4'
				}, {
					value: '选项5',
					label: '选项5'
				}],
				value: '',
				//分页
				currentPage1: 5,
				currentPage2: 5,
				currentPage3: 5,
				currentPage4: 4,
				//日期快捷选项
				shortcuts: [{
					text: '最近一周',
					value: (() => {
						const end = new Date()
						const start = new Date()
						start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
						return [start, end]
					})(),
				}, {
					text: '最近一个月',
					value: (() => {
						const end = new Date()
						const start = new Date()
						start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
						return [start, end]
					})(),
				}, {
					text: '最近三个月',
					value: (() => {
						const end = new Date()
						const start = new Date()
						start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
						return [start, end]
					})(),
				}],
				value1: '',
				value2: '',
				//弹出经济形势
				dialogTableVisible: false
			}
		},
		methods: {
			//tab
			formatter(row, column) {
				return row.address;
			},
			handleClick(tab, event) {
				console.log(tab, event);
			},
			//分页
			handleSizeChange(val) {
				console.log(`每页 ${val} 条`);
			},
			handleCurrentChange(val) {
				console.log(`当前页: ${val}`);
			}
		}	
	}
	;const app = Vue.createApp(Main);
	app.use(ElementPlus);
	app.mount("#index");
	
	
</script>

	
</html>
