<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="include/import"></head>

<body id="index" class="bg">

<!--header-->
<div th:include="include/header"></div>
<!--main-->
<div class="main">
    <div class="breadcrumb">
        <el-breadcrumb separator="-">
            <el-breadcrumb-item :to="{ path: '/' }"><a href="xy_index.html">首页</a></el-breadcrumb-item>
            <el-breadcrumb-item><img th:src="@{/images/form_title.png}" alt=""/>中间业务信息录入</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="xxlr-main">
        <el-row>
            <el-col :span="12" class="xxlr-bg">
                <div class="xxlr-title">[[${session['app_user_login']!=null?session['app_user_login'].departmentName:'建设银行'}]]</div>
                <el-form :model="form" ref="form" :hide-required-asterisk="false" show-message :rules="rules">
                    <div class="xxlr-title">委托资产托管、担保业务
                        <el-popover
                                placement="top"
                                title="委托资产托管、担保业务"
                                :width="500"
                                trigger="click"
                                content="银行从事委托资产托管业务及担保业务，将实现相关的手续费收入和发生相关的费用。银行从事资产托管业务及担保业务发生的相关费用将在利润表“其他营业费用”科目中列示。"
                        >
                            <template #reference><img th:src="@{/images/tishi_b.png}" alt=""/></template>
                        </el-popover>
                    </div>
                    <el-row class="input-list" :gutter="10">
                        <el-col :span="9"></el-col>
                        <el-col :span="7" class="input-list-title2">增长率%</el-col>
                        <el-col :span="7" class="input-list-title2">手续费率%</el-col>
                    </el-row>
                    <el-row class="input-list" :gutter="10">
                        <el-col :span="9" class="input-list-title">托管业务</el-col>
                        <el-col :span="7">
<!--                            <el-tooltip content="预期市场供求5%" placement="top" effect="light">-->
                            <el-form-item prop="custodyBusinessAdd">
                                <el-input v-model="form.custodyBusinessAdd" placeholder="请输入增长率" size="small"></el-input>
                            </el-form-item>
<!--                            </el-tooltip>-->
                        </el-col>
                        <el-col :span="7">
                            <el-tooltip content="费率区间0.5% ~ 1.5%" placement="right" effect="light">
                                <el-form-item prop="custodyBusinessProcedure">
                                    <el-input v-model="form.custodyBusinessProcedure" placeholder="请输入金额" size="small"></el-input>
                                </el-form-item>
                            </el-tooltip>
                        </el-col>
                    </el-row>
                    <el-row class="input-list" style="height: 70px;" :gutter="10">
                        <el-col :span="9" class="input-list-title">担保业务</el-col>
                        <el-col :span="7">
                            <el-form-item prop="guaranteeBusinessAdd">
                                <el-input v-model="form.guaranteeBusinessAdd" placeholder="请输入增长率" size="small"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="7">
                            <el-tooltip content="费率区间0.25% ~ 0.75%" placement="right" effect="light">
                                <el-form-item prop="guaranteeBusinessProcedure">
                                    <el-input v-model="form.guaranteeBusinessProcedure" placeholder="请输入金额" size="small"></el-input>
                                </el-form-item>
                            </el-tooltip>
                        </el-col>
                    </el-row>
                    <div class="xxlr-title">代理债券发行业务
                        <el-popover
                                placement="top"
                                title="代理债券发行业务"
                                :width="500"
                                trigger="click"
                                content="在每个阶段，你可以选择最多三种债券的承销。银行承销债券发行时须关注相关的信息：债券名称、票面利率、发行金额、发行期限、信用评级、最低承销价等。"
                        >
                            <template #reference><img th:src="@{/images/tishi_b.png}" alt=""/></template>
                        </el-popover>
                    </div>
                    <el-row class="input-list" :gutter="10">
                        <el-col :span="9" class="input-list-title">甲债券承销价</el-col>
                        <el-col :span="13">
                            <el-form-item prop="firstUnderwritPriceBond">
                            <el-input v-model="form.firstUnderwritPriceBond" placeholder="请输入金额" size="small"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="2" class="input-list-unit">%</el-col>
                    </el-row>
                    <el-row class="input-list" :gutter="10">
                        <el-col :span="9" class="input-list-title">乙债券承销价</el-col>
                        <el-col :span="13">
                            <el-form-item prop="secondUnderwritPriceBond">
                            <el-input v-model="form.secondUnderwritPriceBond" placeholder="请输入金额" size="small"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="2" class="input-list-unit">%</el-col>
                    </el-row>
                    <el-row class="input-list" :gutter="10">
                        <el-col :span="9" class="input-list-title">丙债券承销价</el-col>
                        <el-col :span="13">
                            <el-form-item prop="thirdUnderwritPriceBond">
                            <el-input v-model="form.thirdUnderwritPriceBond" placeholder="请输入金额" size="small"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="2" class="input-list-unit">%</el-col>
                    </el-row>
                </el-form>
            </el-col>
            <!--右侧-->
            <el-col :span="12" class="sjck-bg">
                <div class="xxlr-title">数据参考
                    <div class="xxlr-title-right">
                        <el-select v-model="currentStageDesc" placeholder="当前进度" @change="switchStageMiddle" size="small">
                            <el-option
                                    v-for="item in optionsjindu"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <!--债券的信用评级-->
                    <el-tab-pane label="代理债券发行业务数据表" name="first">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr valign="middle">
                                <td colspan="4">{{result0.bondType}}，票面利率{{result0.couponRate}}%，期限{{result0.deadline}}年，评级{{result0.creditRating}}</td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left">
                                    <dl>
                                        <dt> 发行金额（百万元）：{{result0.issueAmount}}</dt>
                                        <dt> 承销发行银行：{{result0.underwritingBank}}</dt>
                                    </dl>
                                </td>
                                <td colspan="2" align="left">
                                    <dl>
                                        <dt> 承销金额（百万元）：{{result0.underwritingMount}}</dt>
                                        <dt> 认购额度（%）：{{result0.subscriptionLimit}}</dt>
                                        <dt> 承销价格（%）：{{result0.underwritingPrice}}</dt>
                                        <dt> 折扣（%）：{{result0.discount}}</dt>
                                    </dl>
                                </td>
                            </tr>
                            <tr valign="middle">
                                <td colspan="4">{{result1.bondType}}，票面利率{{result1.couponRate}}%，期限{{result1.deadline}}年，评级{{result1.creditRating}}</td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left">
                                    <dl>
                                        <dt> 发行金额（百万元）：{{result1.issueAmount}}</dt>
                                        <dt> 承销发行银行：{{result1.underwritingBank}}</dt>
                                    </dl>
                                </td>
                                <td colspan="2" align="left">
                                    <dl>
                                        <dt> 承销金额（百万元）：{{result1.underwritingMount}}</dt>
                                        <dt> 认购额度（%）：{{result1.subscriptionLimit}}</dt>
                                        <dt> 承销价格（%）：{{result1.underwritingPrice}}</dt>
                                        <dt> 折扣（%）：{{result1.discount}}</dt>
                                    </dl>
                                </td>
                            </tr>
                            <tr valign="middle">
                                <td colspan="4">{{result2.bondType}}，票面利率{{result2.couponRate}}%，期限{{result2.deadline}}年，评级{{result2.creditRating}}</td>
                            </tr>
                            <tr>
                                <td colspan="2" align="left">
                                    <dl>
                                        <dt> 发行金额（百万元）：{{result2.issueAmount}}</dt>
                                        <dt> 承销发行银行：{{result2.underwritingBank}}</dt>
                                    </dl>
                                </td>
                                <td colspan="2" align="left">
                                    <dl>
                                        <dt> 承销金额（百万元）：{{result2.underwritingMount}}</dt>
                                        <dt> 认购额度（%）：{{result2.subscriptionLimit}}</dt>
                                        <dt> 承销价格（%）：{{result2.underwritingPrice}}</dt>
                                        <dt> 折扣（%）：{{result2.discount}}</dt>
                                    </dl>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </el-tab-pane>
                    <!--综合指标-->
                </el-tabs>
            </el-col>
            <!--右侧-->
        </el-row>
    </div>
    <div v-show="submitAlert">
        <el-alert
                title="请检查您的决策数据是否为空或有效"
                type="error"
                center
                close-text="知道了">
        </el-alert>
    </div>
    <div class="xxlr-tj">
        <el-button type="primary" v-if="form.currentStageId!=2" plain @click="preOperation('form')">预计算</el-button>
        <el-button type="primary" plain @click="saveForm('form')">保存</el-button>
        <el-button type="primary" @click="submitFormBefore('form')">提交</el-button>
    </div>
</div>
<!--main-->

<!--footer-->
<div th:include="include/footer"></div>
<!--footer-->
</body>
<script type="module" th:src="@{/service/middle-business.js}"></script>
<!--<script>-->
<!--    var Main = {-->
<!--            data() {-->
<!--                return {-->
<!--                    //头像-->
<!--                    circleUrl: "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png",-->
<!--                    squareUrl: "https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png",-->
<!--                    sizeList: ["large", "medium", "small"],-->
<!--                    //导航-->
<!--                    activeIndex: '4',-->
<!--                    //进度选择器-->
<!--                    optionsjindu: [{-->
<!--                        value: '选项21',-->
<!--                        label: '初始阶段'-->
<!--                    }, {-->
<!--                        value: '选项22',-->
<!--                        label: '第一年度'-->
<!--                    }, {-->
<!--                        value: '选项23',-->
<!--                        label: '第二年度'-->
<!--                    }, {-->
<!--                        value: '选项24',-->
<!--                        label: '第三年度'-->
<!--                    }, {-->
<!--                        value: '选项25',-->
<!--                        label: '第四年度'-->
<!--                    }],-->
<!--                    value2: '选项23',-->
<!--                    //tabs-->
<!--                    activeName: 'first',-->
<!--                    //输入框-->
<!--                    input1: '',-->
<!--                    input2: '',-->
<!--                    input3: '',-->
<!--                    input4: '',-->
<!--                    input5: '',-->
<!--                    input6: '',-->
<!--                    input7: ''-->
<!--                }-->
<!--            },-->
<!--            methods: {-->
<!--                //tab-->
<!--                formatter(row, column) {-->
<!--                    return row.address;-->
<!--                },-->
<!--                handleClick(tab, event) {-->
<!--                    console.log(tab, event);-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    ;const app = Vue.createApp(Main);-->
<!--    app.use(ElementPlus);-->
<!--    app.mount("#index");-->
<!--</script>-->
</html>
