<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.module.business.decision.dao.DecPersonnelDao">

    <resultMap id="DecPersonnelVO" type="net.lab1024.smartadmin.module.business.decision.domain.vo.DecPersonnelVO"></resultMap>
    <resultMap id="DecPersonnelExcelVO" type="net.lab1024.smartadmin.module.business.decision.domain.vo.DecPersonnelExcelVO"></resultMap>


    <select id="queryByPage" resultMap="DecPersonnelVO">
        select
          id,
          current_project_id,
          current_team_id,
          current_stage_id,
          hire_fire_loans,
          train_loans,
          business_development_loans,
          customer_care_loans,
          hire_fire_deposit,
          train_deposit,
          business_development_deposit,
          customer_care_deposit,
          hire_fire_invest,
          train_invest,
          business_development_invest,
          customer_care_invest,
          hire_fire_middle,
          train_middle,
          business_development_middle,
          customer_care_middle,
          additional_personnel_cost,
          automation_investment
        from dec_personnel
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryAllExportData" resultMap="DecPersonnelExcelVO">
        select
           id,
           current_project_id,
           current_team_id,
           current_stage_id,
           hire_fire_loans,
           train_loans,
           business_development_loans,
           customer_care_loans,
           hire_fire_deposit,
           train_deposit,
           business_development_deposit,
           customer_care_deposit,
           hire_fire_invest,
           train_invest,
           business_development_invest,
           customer_care_invest,
           hire_fire_middle,
           train_middle,
           business_development_middle,
           customer_care_middle,
           additional_personnel_cost,
           automation_investment
        from dec_personnel
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryBatchExportData" resultMap="DecPersonnelExcelVO">
        select
         id,
         current_project_id,
         current_team_id,
         current_stage_id,
         hire_fire_loans,
         train_loans,
         business_development_loans,
         customer_care_loans,
         hire_fire_deposit,
         train_deposit,
         business_development_deposit,
         customer_care_deposit,
         hire_fire_invest,
         train_invest,
         business_development_invest,
         customer_care_invest,
         hire_fire_middle,
         train_middle,
         business_development_middle,
         customer_care_middle,
         additional_personnel_cost,
         automation_investment
        from dec_personnel
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <select id="query" resultType="net.lab1024.smartadmin.module.business.decision.domain.vo.DecPersonnelVO">
select
         id,
         current_project_id,
         current_team_id,
         current_stage_id,
         hire_fire_loans,
         train_loans,
         business_development_loans,
         customer_care_loans,
         hire_fire_deposit,
         train_deposit,
         business_development_deposit,
         customer_care_deposit,
         hire_fire_invest,
         train_invest,
         business_development_invest,
         customer_care_invest,
         hire_fire_middle,
         train_middle,
         business_development_middle,
         customer_care_middle,
         additional_personnel_cost,
         automation_investment
        from dec_personnel
        where current_project_id = #{currentProjectId} and current_team_id = #{currentTeamId} and current_stage_id = #{currentStageId}
    </select>
    <select id="queryPeople"
            resultType="net.lab1024.smartadmin.module.business.decision.domain.vo.DecPersonnelVO">
        SELECT
                *
            FROM
                dec_personnel
            WHERE
            current_project_id = #{currentProjectId}
            AND current_team_id = #{currentTeamId}
            AND current_stage_id = #{currentStageId}
    </select>

    <delete id="deleteById">
        delete from dec_personnel where id = #{id}
    </delete>

    <delete id="deleteByIdList">
        delete from dec_personnel where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteData">
        delete from dec_personnel where current_project_id = #{currentProjectId} and current_team_id = #{currentTeamId} and current_stage_id = #{currentStageId}
    </delete>

</mapper>