<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.module.business.report.dao.RepPersonnelLogisticsDataAutomationDao">

    <resultMap id="RepPersonnelLogisticsDataAutomationVO" type="net.lab1024.smartadmin.module.business.report.domain.vo.RepPersonnelLogisticsDataAutomationVO"></resultMap>
    <resultMap id="RepPersonnelLogisticsDataAutomationExcelVO" type="net.lab1024.smartadmin.module.business.report.domain.vo.RepPersonnelLogisticsDataAutomationExcelVO"></resultMap>
    <sql id="query_rep_personnel_automation">
        id,
          current_project_id,
          current_team_id,
          current_stage_id,
          project,
          present_stage,
          cumulative_investment,
          exponent
    </sql>

    <select id="queryByPage" resultMap="RepPersonnelLogisticsDataAutomationVO">
        select
          <include refid="query_rep_personnel_automation"/>
        from rep_personnel_logistics_data_automation
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.currentProjectId != null">
                AND current_project_id = #{queryDTO.currentProjectId}
            </if>
            <if test="queryDTO.currentTeamId != null">
                AND current_team_id = #{queryDTO.currentTeamId}
            </if>
            <if test="queryDTO.currentStageId != null">
                AND current_stage_id = #{queryDTO.currentStageId}
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryAllExportData" resultMap="RepPersonnelLogisticsDataAutomationExcelVO">
        select
        <include refid="query_rep_personnel_automation"/>
        from rep_personnel_logistics_data_automation
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.currentProjectId != null">
                AND current_project_id = #{queryDTO.currentProjectId}
            </if>
            <if test="queryDTO.currentTeamId != null">
                AND current_team_id = #{queryDTO.currentTeamId}
            </if>
            <if test="queryDTO.currentStageId != null">
                AND current_stage_id = #{queryDTO.currentStageId}
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryBatchExportData" resultMap="RepPersonnelLogisticsDataAutomationExcelVO">
        select
        <include refid="query_rep_personnel_automation"/>
        from rep_personnel_logistics_data_automation
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>
    <select id="selectPerLogDataAutomationPar" resultMap="RepPersonnelLogisticsDataAutomationVO">
        select
         id,
         current_stage_id,
         project,
         present_stage,
         cumulative_investment,
         exponent
        from par_initial_data_automation
        where current_stage_id = #{currentStageId};
    </select>
    <select id="selectPerLogDataAutomationRep" resultMap="RepPersonnelLogisticsDataAutomationVO">
        select
        <include refid="query_rep_personnel_automation"/>
        from rep_personnel_logistics_data_automation
        where current_team_id = #{currentTeamId}
        and current_stage_id = #{currentStageId};
    </select>
    <select id="query" resultMap="RepPersonnelLogisticsDataAutomationVO">
        select
        <include refid="query_rep_personnel_automation"/>
        from rep_personnel_logistics_data_automation
        <where>
            1=1
            <if test="currentProjectId!=null">
                and  current_project_id = #{currentProjectId}
            </if>
            <if test="currentTeamId!=null">
                and current_team_id = #{currentTeamId}
            </if>
            <if test="currentStageId!=null">
                and current_stage_id = #{currentStageId};
            </if>
        </where>
    </select>
    <select id="queryExportData"
            resultType="net.lab1024.smartadmin.module.business.report.domain.vo.RepPersonnelLogisticsDataAutomationExcelVO">
                select
         r.id,
         r.current_stage_id,
         t.name,
         r.project,
         r.present_stage,
         r.cumulative_investment,
         r.exponent
        from rep_personnel_logistics_data_automation r left join t_department t on r.current_team_id=t.id
                where r.current_Project_id = #{currentProjectId}
        and r.current_stage_id = #{currentStageId}
    </select>

    <delete id="deleteById">
        delete from rep_personnel_logistics_data_automation where id = #{id}
    </delete>

    <delete id="deleteByIdList">
        delete from rep_personnel_logistics_data_automation where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

</mapper>