<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.module.business.param.dao.ParInitialDataMarketCustomerAccountDao">

    <resultMap id="ParInitialDataMarketCustomerAccountVO" type="net.lab1024.smartadmin.module.business.param.domain.vo.ParInitialDataMarketCustomerAccountVO"></resultMap>
    <resultMap id="ParInitialDataMarketCustomerAccountExcelVO" type="net.lab1024.smartadmin.module.business.param.domain.vo.ParInitialDataMarketCustomerAccountExcelVO"></resultMap>


    <select id="queryByPage" resultMap="ParInitialDataMarketCustomerAccountVO">
        select
          id,
          current_stage_id,
          customer_market_business_data,
          account_type,
          less_age,
          between_age,
          greater_age,
          small_enterprise,
          medium_enterprise,
          major_enterprise,
          public_institution,
          account_sum
        from par_initial_data_market_customer_account
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryAllExportData" resultMap="ParInitialDataMarketCustomerAccountExcelVO">
        select
           id,
           current_stage_id,
           customer_market_business_data,
           account_type,
           less_age,
           between_age,
           greater_age,
           small_enterprise,
           medium_enterprise,
           major_enterprise,
           public_institution,
           account_sum
        from par_initial_data_market_customer_account
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryBatchExportData" resultMap="ParInitialDataMarketCustomerAccountExcelVO">
        select
         id,
         current_stage_id,
         customer_market_business_data,
         account_type,
         less_age,
         between_age,
         greater_age,
         small_enterprise,
         medium_enterprise,
         major_enterprise,
         public_institution,
         account_sum
        from par_initial_data_market_customer_account
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <select id="selectMarDataCusBazPar"
            resultType="net.lab1024.smartadmin.module.business.param.domain.vo.ParInitialDataMarketCustomerAccountVO">
        select
         id,
         current_stage_id,
         customer_market_business_data,
         account_type,
         less_age,
         between_age,
         greater_age,
         small_enterprise,
         medium_enterprise,
         major_enterprise,
         public_institution,
         account_sum
        from par_initial_data_market_customer_account
        where current_stage_id = #{currentStageId} and customer_market_business_data = #{customerMarketBusinessData}
    </select>

    <delete id="deleteById">
        delete from par_initial_data_market_customer_account where id = #{id}
    </delete>

    <delete id="deleteByIdList">
        delete from par_initial_data_market_customer_account where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

</mapper>