<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.module.business.param.dao.ParMarketsharesTestDao">

    <resultMap id="ParMarketsharesTestVO" type="net.lab1024.smartadmin.module.business.param.domain.vo.ParMarketsharesTestVO"></resultMap>
    <resultMap id="ParMarketsharesTestExcelVO" type="net.lab1024.smartadmin.module.business.param.domain.vo.ParMarketsharesTestExcelVO"></resultMap>


    <select id="queryByPage" resultMap="ParMarketsharesTestVO">
        select
          id,
          current_team_id,
          current_stage_id,
          business_type,
          market_shares
        from par_marketshares_test
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.currentTeamId != null">
                AND current_team_id = #{queryDTO.currentTeamId}
            </if>
            <if test="queryDTO.currentStageId != null">
                AND current_stage_id = #{queryDTO.currentStageId}
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryAllExportData" resultMap="ParMarketsharesTestExcelVO">
        select
           id,
           current_team_id,
           current_stage_id,
           business_type,
           market_shares
        from par_marketshares_test
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.currentTeamId != null">
                AND current_team_id = #{queryDTO.currentTeamId}
            </if>
            <if test="queryDTO.currentStageId != null">
                AND current_stage_id = #{queryDTO.currentStageId}
            </if>

            <if test="queryDTO.createTimeBegin != null ">
                AND create_time &gt;= #{queryDTO.createTimeBegin}
            </if>
            <if test="queryDTO.createTimeEnd != null ">
                AND create_time &lt;= #{queryDTO.createTimeEnd}
            </if>

            <if test="queryDTO.updateTimeBegin != null ">
                AND update_time &gt;= #{queryDTO.updateTimeBegin}
            </if>
            <if test="queryDTO.updateTimeEnd != null ">
                AND update_time &lt;= #{queryDTO.updateTimeEnd}
            </if>
        </where>
    </select>

    <select id="queryBatchExportData" resultMap="ParMarketsharesTestExcelVO">
        select
         id,
         current_team_id,
         current_stage_id,
         business_type,
         market_shares
        from par_marketshares_test
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <delete id="deleteById">
        delete from par_marketshares_test where id = #{id}
    </delete>

    <delete id="deleteByIdList">
        delete from par_marketshares_test where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

</mapper>