<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>卓越银行家俱乐部</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<script th:src="@{/vue/vue.global.js}"></script>
<script th:src="@{/axios/axios.min.js}"></script>
<script th:src="@{/element-plus/lib/index.full.js}"></script>
<script type="text/javascript" th:src="@{/echarts/echarts.min.js}"></script>
<link rel="stylesheet" th:href="@{/element-plus/lib/theme-chalk/index.css}">
<link th:href="@{/css/zyyhjjlb.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>